@media only screen
 and (min-device-width: 1px)
 and (max-device-width: 1024px)
 and (-webkit-min-device-pixel-ratio: 2) {
   #studies-box{
     font-size: 0.9em;
   }
}

@media only screen
 and (min-device-width: 1px)
 and (max-device-width: 768px)
 and (-webkit-min-device-pixel-ratio: 2) {
   #studies-box{
     font-size: 0.8em;
   }
   .prog-box1, .prog-box2, .prog-box3, .prog-box4, .prog-box5, .prog-box6{
     margin-left: 8%;
   }
   #my-intro-box{
     font-size: 0.8em;
   }
   img{
     margin-left: 40px;
     margin-top: 100px;
     width: 200px;
     height: 192.5px;
   }
}

@media only screen
 and (min-device-width: 1px)
 and (max-device-width: 375px)
 and (-webkit-min-device-pixel-ratio: 2) {
   #navbar, h1{
     margin-left: -10px;
     width: 94%;
     font-size: 0.9em;
   }
   #home-screen-box{
     background: url('../images/beach-pic.jpg');
     background-size: cover;
     background-position: top;
     background-repeat: no-repeat;
   }
   #my-intro-box{
     top: 0;
     font-size: 0.55em;
   }
   #studies-box{
     font-size: 0.5em;
   }
   #last-box{
     width: 94%;
     font-size: 0.6em;
   }
   .github, .stack-overflow{
     width: 50px;
     height: 50px;
   }
   img{
     width: 100px;
     height: 100px;
   }
   .prog-box1, .prog-box2, .prog-box3, .prog-box4, .prog-box5, .prog-box6{
     width: 25px;
     height: 25px;
     margin-left: 6%;
   }
   #references-box{
     height: 150px;
   }
   #prog-lang, footer, #intro-box{
     width: 94%;
   }
}
