/* This file contains the responsiveness of the device screen widths */
/* For devices with 1280 pixels */
/* This code should work for all devices */
@media only screen
  and (min-device-width: 1px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2){
    /* This decreases the size of the studies box */
    .stu-box p, .stu-box li{
      font-size: 0.75em;
    }
    .stu-box h3{
      font-size: 1.25em;
    }
    .stu-box h4{
      font-size: 0.8em;
    }
    .stu-box{
      width: 22%;
    }
    .studies{
      height: 600px;
    }
    /* This code increases the width of the number box and email box so that the code lines up with the logo */
    .phone-numbox{
      width: 40%;
    }
    .email-box{
      width: 80%;
    }
  }
