/* General setup */
/* Remember to always comment*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: right;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

.container{
  font-size: 14px;
}

header{
  text-align: center;
  font-size: 20px;
  font-family: Castellar Regular;
  background: linear-gradient(#a66 , white);
}

.nav_bar ul{
  list-style: none;
}

.nav_bar{
  text-align: center;
  padding: 15px;
  background-color: #8C2F39;
  font-size: 20px;
  font-family: Open Sans,Arial,sans-serif;
  box-shadow: 0px 5px;
}

.home_bar, .find_bar, .staff_bar, .pros_bar, .courses_bar, .media_bar{
  padding: 15px;
}

.home_bar:link, .find_bar:link, .staff_bar:link, .pros_bar:link, .courses_bar:link, .media_bar:link{
  text-decoration: none;
  color: white;
}

.home_bar:visited, .find_bar:visited, .staff_bar:visited, .pros_bar:visited, .courses_bar:visited, .media_bar:visited{
  color: white;
}

.home_bar:hover, .find_bar:hover, .staff_bar:hover, .pros_bar:hover, .courses_bar:hover, .media_bar:hover{
  background-color: white;
  color: black;
}

.home_bar:active, .find_bar:active, .staff_bar:active, .pros_bar:active, .courses_bar:active, .media_bar:active{
}

body{
  background-color: black;
  line-height: 30px;
}

.container{
  background-color: white;
}

footer{
  font-size: 25px;
  text-align: center;
  /* background: linear-gradient(white, grey) */
  font-family: Castellar Regular;
  background: linear-gradient(white, #a66);
}

.college_img{
  position: absolute;
  right: 340px;
  top: 2px;
  float: left;
}
.books_img{
  position: absolute;
  left: 80px;
  top: 9px;
  float: right;
}

h1, h2{
  letter-spacing: 1px;
}

section, aside{
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: AvenirNextLTW01-Regular,Arial,Helvetica,sans-serif;
}

h2{
  font-size: 24px;
}

aside{
  margin-top: 50px;
  margin-right: 50px;
  border: 2px solid #114B5F;
  box-shadow: 5px 10px #114B5F;
}

section p{
  text-indent: 20px;
}

section a:link, aside a:link{
  color: red;
}

section a:visited, aside a:visited{
  color: red;
}

section a:hover, aside a:hover{
  color: #69140E;
  text-decoration: none;
}

section a:active, aside a:active{
  padding: 5px;
  background-color: red;
}

.ext{
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
  margin: 0 0 0 5px;
}

li{
  list-style: none;
  list-style-type: square;
}
