/* THIS IS MY CSS CODE */

*{
  font-family: 'Raleway', sans-serif;
}

body{
  background: #ffffff;
}

/* THIS IS THE CODE FOR THE NAVIGATION BAR */
#navbar{
  margin-left: -10px;
  top: 0;
  position: fixed;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  text-align: center;
  word-spacing: 50px;
  background-color: white;
  padding: 20px;
  font-size: 30px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  color: black;
  max-width: 100%;
  z-index: 100;
}

/* THIS IS THE CODE FOR THE NAVIGATION BAR LINKS */
.home-nav:link,.contact-nav:link,.about-nav:link, .home-nav:visited, .contact-nav:visited, .about-nav:visited{
  text-decoration: none;
  color: black;
}
.home-nav:hover, .contact-nav:hover, .about-nav:hover{
  text-shadow: 2px 2px 4px black;
}

#home-screen-box{
  border: 1px solid transparent;
  border-radius: 6px;
  background-image: url('../images/beach-pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
  height: 800px;
}

h1{
  border: 1px solid transparent;
  letter-spacing: 3px;
  color: #939393;
  text-align: center;
  margin-top: 100px;
  font-size: 5em;
  font-family: 'Raleway', sans-serif;
  background-position: center;
}
.slogan{
  position: relative;
  margin-top: -60px;
  text-align: center;
  font-size: 23px;
  color: black;
  z-index: 10;
}

/* THIS IS THE CODE FOR MY INTRODUCTION AND PICTURE */
#intro-box{
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  max-width: 100%;
  width: 98%;
  height: 400px;
  margin-top: 10px;
  padding: 10px;
  background-color: black;
}
.my-face-box{
  border: 1px solid transparent;
  height: 395px;
  width: 30%;
  border-radius: 50%;
  float: left;
}
.my-face-pic{
  border-radius: 50%
}
#my-intro-box{
  border: 1px solid transparent;
  width: 60%;
  float: right;
  height: 395px;
}
h2{
  margin-left: 50px;
  color: white;
  font-size: 2em;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-color: #848484;
}
#my-intro-box p{
  font-size: 1.25em;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

/* THIS IS THE CODE FOR MY Programming Languages */
#prog-lang{
  display: block;
  border: 1px solid #d8d8d8;
  padding: 10px;
  width: 98%;
  height: 50px;
  margin-top: 30px;
  border-radius: 6px;
  background-color: #d8d8d8;
  box-shadow: 5px 10px 18px black;
}

.prog-box1, .prog-box2, .prog-box3, .prog-box4, .prog-box5, .prog-box6{
  display: inline-block;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-left: 10.5%;
}

.prog-box1{
  background: url('../images/html5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box2{
  background: url('../images/css.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box3{
  background: url('../images/javascript.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box4{
  background: url('../images/sass.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box5{
  background: url('../images/mysql.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box6{
  background: url('../images/python.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#studies-box{
  display: block;
  border: 1px solid #18bbf7;
  height: 700px;
  background-color: #18bbf7;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.stu-box{
  float: left;
  width: 24.5%;
}

h3, h4, .stu-box p{
  letter-spacing: 1px;
  color: black;
  margin-left: 20px;
}

h3,h4{
  text-decoration: underline;
}

#last-box{
  background: linear-gradient(to right, #000000, #434343);
  display: block;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 20px;
  height: 400px;
  width: 100%;
  max-width: 98%;
  padding: 10px;
}

.references-box{
  float: left;
  width: 46%;
  height: 400px;
}
.contact-box{
  border: 1px solid transparent;
  float: right;
  width: 46%;
  height: 200px;
}
.references-box .ref, .contact-box .ref{
  font-size: 1.3em;
  color: white;
}
.references-box > p, .references-box h4, .contact-box > p, .contact-box h4{
  margin-left: 20px;
  color: white
}

.p-number:hover, .email:hover, .blog-w:hover{
  width: auto;
  font-size: 1.25em;
}

a:link, a:visited{
  color: white;
  text-decoration: none;
}
a:hover, a:active{
  text-decoration: underline;
}

.contact-logos{
  border: 1px solid transparent;
  float: right;
  width: 46%;
  margin-top: 20px;
  height: 170px;
}

.github{
  margin-top: 20px;
  background: url('../images/github.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  width: 100px;
  margin-top: 5px;
  height: 100px;
  margin-left: 20px;
}
.stack-overflow{
  background: url('../images/stack-overflow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 40px;
  float: left;
  width: 100px;
  margin-top: 5px;
  height: 100px;
}

footer{
  background: linear-gradient(to left, #000000, #434343);
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  color: white;
  width: 98%;
}
