// This is the responsiveness stylesheet

// *************************************************************************
// This media query is for devices with the width between 1-500px (mobile)
@media (min-width: 1px)
and (max-width: 599px){
    /* This is the code for the navigation bar */
    #navbar{
        display: none;
    }

    .hamburger-btn{
        display: block;
        position: fixed;
        left: 10px;
        top: 10px;
        font-size: 1.5em;
        z-index: 100000;
        background: white;
        .fa-bars{
            padding: 5px;
        }
        
    }

    .showMenu{
        display: block;
        height: 300px;
    }

    .hamburger-menu{
        display: none;
        width: 100vw;
        text-align: center;
        position: fixed;
        top: 0;
        background: black;
        height: 50px;
        color: white;
        transition: all 1s;

        ul{
            margin-top: 20px;
            list-style: none;
            li{
                margin-top: 30px;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }

        .shownav{
            display: block;
        }
    }

    .grid-container > div{
        padding: 0px;
    }

    .hidenav{
        display: none;
    }

    // This is the wrapper that positions everything
    .margin-wrapper{
        margin-right: 10px;
        margin-left: 10px;
    }

    /* This is the code for the home screen text and picture */
    .home-screen{
        height: 700px;

        h1{
            margin-top: 120px;
            font-size: 2em;
            letter-spacing: 3px;
            color: #939393;
        }
        h4{
            margin-top: 10px;
            font-size: 1.4em;
            letter-spacing: 3px;
            color: #939393;
        }
    }

    /* This is the code for the about section of the page */
    .about{
        margin-top: 250px;
        height: 450px;
        padding: 5px;

        /* This is the code for the text inside the about section */
        .box-about{
            height: 99%;

            /* Box about heading and paragraph font sizes */
            h2{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 1.3em;
            }

            p{
                font-size: 1.1em;
            }
        }
    }

    /* This code is for the studies and hobbies section of the page */
    .studies{
        opacity: 0;
        margin-top: 250px;
        height: 750px;

        .studies-section{
            display: grid;
            grid-template-areas: 'stud-first'
            'stud-second'
            ;
            grid-template-columns: 1fr;

            h3{
                font-size: 1em;
            }
            p{
                font-size: 0.9em;
                word-spacing: 2px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }

    // This is the work experience section
    .experience-section{
        height: 640px;
    
        h2, h3{
            margin-top: 20px;
            text-align: center;
            font-size: 1.2em;
        }
        h4{
            margin-top: 40px;
            font-size: 1em;
        }
        p{
            font-size: 0.9em;
            margin-left: 30px;
        }
    }

    .all-projects{
        grid-area: all-projects;
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.856);
        height: 1350px;
    
        h2{
            margin-top: 20px;
            color: white;
            text-align: center;
            font-size: 1.2em;
        }
    
        #projects-main{
            margin-top: 30px;
            display: grid;
            grid-template-areas: 'project1'
            'project2'
            'project3'
            'project4'
            ;
            grid-template-columns: 1fr;
            grid-gap: 20px;
    
            h4{
                text-align: center;
                color: white;
            }
        }
    }

    // This is the hobbies and interest section
    .hobbies-section{
        padding: 0;
        height: 320px;
    
        h2{
            margin-top: 20px;
            font-weight: bolder;
            font-size: 1em;
        }
        ul{
            margin-top: 20px;
            li{
                font-size: 1em;
                margin-top: 10px;
            }
        }
    }
    /* This code is for the contact section of the page */
    .contact{
        padding: 5px;
        margin-top: 20px;
        height: 250px;

        h2{
            font-size: 1.3em;
            margin-top: 20px;
        }

        a{
            position: absolute;
            left: 50%;
            top: 70%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            transition: all 0.3s;

            button{
                padding: 5px 10px;
                font-size: 1em;

                &:hover{
                    padding: 5px 15px;
                }
            }
        }

        // This is my form
        #myForm{
            display: none;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%,-50%);

            input{
                font-size: 0.9em;
                border: none;
                border-radius: 3px;
                padding: 2px;
                width: 300px;
            }
            textarea{
                border-radius: 3px;
                font-size: 1em;
                width: 300px;
            }
        }
    }
    /* This is the code for the footer text and image logos */
    .footer{
        img{
            height: 30px;
            width: 30px;
        }
        h3{
            font-size: 1em;
            /* This is the code for the links in the footer */
            a{
                color: white;
        
                &:hover{
                    color: #05aefc;
                    text-decoration: underline;
                }
            }
        }
    }

    // This is the contact logo
    #contact-me-logo{
        position: fixed;
        top: 100px;
        right: -100px;

        img{
            height: 50%;
            width: 50%;
        }
    }

    // This is the contact me main section
    #contact-me-main{
        top: 50%;
        left: 10px;
        right: 10px;
        transform: translate(0%,0%);
        padding: 20px;
        width: 80%;

        h3{
            font-size: 0.9em;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

// *************************************************************************
// This media query is for devices with the width between 321-400px (mobile)
@media (min-width: 321px) 
and (max-width: 400px){
    .about{
        height: 370px;
    }
    .experience-section{
        height: 580px;
    }
    .hobbies-section{
        padding: 0;
        height: 320px;
    }
}

// *************************************************************************
// This media query is for devices with the width between 401-500px (mobile)
@media (min-width: 401px) 
and (max-width: 500px){
    .about{
        height: 340px;
    }
    /* This code is for the studies and hobbies section of the page (blue) */
    .studies{
        height: 690px;
    }
    .experience-section{
        height: 580px;
    }
    .hobbies-section{
        padding: 0;
        height: 310px;
    }
}

// *************************************************************************
// This media query is for devices with the width between 401-500px (mobile) or (large-mobile)
@media (min-width: 501px)
and (max-width: 599px){
    .about{
        height: 300px;
    }
    .experience-section{
        height: 500px;
    }
    .hobbies-section{
        padding: 0;
        height: 320px;
    }
    .studies{
        height: 600px;
    }
    /* This code is for the contact section of the page */
    .contact{
        height: 250px;
        h2{
            font-size: 1.5em;
        }
        // This is my form
        #myForm{
            display: none;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 70%;
            transform: translate(-50%,-50%);

            input{
                font-size: 1em;
                border-radius: 3px;
                padding: 5px;
                width: 400px;
            }
            textarea{
                border-radius: 3px;
                font-size: 1em;
                width: 405px;
                height: 150px;
            }
        }
    }

    .footer{
        h3{
            font-size: 1.5em;
        }
    }
}

// *************************************************************************
// This media query is for devices with the width between 600-800px (tablet)
@media (min-width: 600px)
and (max-width: 800px){
    /* This is the code for the navigation bar */
    #navbar{
        font-size: 1em;
        word-spacing: 30px;
    }

    .grid-container > div{
        padding: 10px;
    }

    // This is the wrapper that positions everything
    .margin-wrapper{
        margin-right: 50px;
        margin-left: 50px;
    }

    /* This is the code for the home screen text and picture */
    .home-screen{
        height: 700px;

        h1{
            margin-top: 120px;
            font-size: 2.5em;
            letter-spacing: 3px;
            color: #939393;
        }
        h4{
            margin-top: 10px;
            font-size: 1.7em;
            letter-spacing: 3px;
            color: #939393;
        }
    }

    // This is the contact logo
    #contact-me-logo{
        position: fixed;
        top: 100px;
        right: -100px;

        img{
            height: 70%;
            width: 70%;
        }
    }

    /* This is the code for the about section of the page */
    .about{
        margin-top: 250px;
        height: 350px;
        padding: 5px;

        /* This is the code for the text inside the about section */
        .box-about{
            height: 99%;

            /* Box about heading and paragraph font sizes */
            h2{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 1.6em;
            }

            p{
                font-size: 1.4em;
            }
        }
    }

    /* This code is for the studies and hobbies section of the page */
    .studies{
        opacity: 0;
        margin-top: 250px;
        height: 670px;

        .studies-section{
            display: grid;
            grid-template-areas: 'stud-first'
            'stud-second'
            ;
            grid-template-columns: 1fr;

            h3{
                font-size: 1.3em;
            }
            p{
                font-size: 1.1em;
                word-spacing: 2px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }

    // This is the work experience section
    .experience-section{
        height: 550px;
    
        h2, h3{
            text-align: center;
            font-size: 1.6em;
        }
        h4{
            margin-top: 40px;
            font-size: 1.3em;
        }
        p{
            font-size: 1.1em;
            margin-left: 30px;
        }
    }

    // This is the hobbies and interest section
    .hobbies-section{
        padding: 0px;
        height: 300px;
    
        h2{
            font-weight: bolder;
            font-size: 1.5em;
        }
        ul{
            margin-top: 20px;
            li{
                font-size: 1.1em;
                margin-top: 10px;
            }
        }
    }
    /* This code is for the contact section of the page */
    .contact{
        padding: 5px;
        height: 200px;

        h2{
            color: rgb(110, 110, 110);
            font-size: 1.5em;
        }

        a{
            position: absolute;
            left: 50%;
            top: 170px;
            transform: translate(-50%,-50%);
            overflow: hidden;
            transition: all 0.3s;

            button{
                padding: 5px 10px;
                font-size: 1em;

                &:hover{
                    padding: 5px 15px;
                }
            }
        }

        // This is my form
        #myForm{
            display: none;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%,-50%);

            input{
                font-size: 1em;
                border: none;
                border-radius: 3px;
                padding: 5px;
                width: 400px;
            }
            textarea{
                border-radius: 3px;
                font-size: 1em;
                width: 405px;
                height: 150px;
            }
        }
    }
    /* This is the code for the footer text and image logos */
    .footer{
        img{
            height: 40px;
            width: 40px;
        }
        h3{
            font-size: 1.4em;
        
            /* This is the code for the links in the footer */
            a{
                color: white;
        
                &:hover{
                    color: #05aefc;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 801px)
and (max-width: 1030px){
    /* This is the code for the navigation bar */
    #navbar{
        font-size: 1.3em;
        word-spacing: 30px;
    }

    .grid-container > div{
        padding: 10px;
    }

    // This is the wrapper that positions everything
    .margin-wrapper{
        margin-right: 150px;
        margin-left: 150px;
    }

    /* This is the code for the home screen text and picture */
    .home-screen{
        height: 700px;

        h1{
            margin-top: 120px;
            font-size: 2.9em;
            letter-spacing: 3px;
            color: #939393;
        }
        h4{
            margin-top: 10px;
            font-size: 2em;
            letter-spacing: 3px;
            color: #939393;
        }
    }

    /* This is the code for the about section of the page */
    .about{
        margin-top: 250px;
        height: 340px;
        padding: 5px;

        /* This is the code for the text inside the about section */
        .box-about{
            height: 99%;

            /* Box about heading and paragraph font sizes */
            h2{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 1.8em;
            }

            p{
                font-size: 1.4em;
            }
        }
    }

    /* This code is for the studies and hobbies section of the page */
    .studies{
        opacity: 0;
        height: 650px;

        .studies-section{
            display: grid;
            grid-template-areas: 'stud-first'
            'stud-second'
            ;
            grid-template-columns: 1fr;

            h3{
                font-size: 1.3em;
            }
            p{
                font-size: 1.1em;
                word-spacing: 2px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }

    // This is the work experience section
    .experience-section{
        height: 550px;
    
        h2, h3{
            text-align: center;
            font-size: 1.6em;
        }
        h4{
            margin-top: 40px;
            font-size: 1.3em;
        }
        p{
            font-size: 1.1em;
            margin-left: 30px;
        }
    }

    // This is the hobbies and interest section
    .hobbies-section{
        padding: 0px;
        height: 350px;
    
        h2{
            font-weight: bolder;
            font-size: 1.6em;
        }
        ul{
            margin-top: 20px;
            li{
                font-size: 1.4em;
                margin-top: 10px;
            }
        }
    }
    /* This code is for the contact section of the page */
    .contact{
        padding: 5px;
        height: 250px;

        h2{
            color: rgb(110, 110, 110);
            font-size: 1.5em;
        }

        a{
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            transition: all 0.3s;

            button{
                padding: 10px 15px;
                font-size: 1em;

                &:hover{
                    padding: 10px 25px;
                }
            }
        }

        // This is my form
        #myForm{
            display: none;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%,-50%);

            input{
                font-size: 1em;
                border: none;
                border-radius: 3px;
                padding: 8px;
                width: 500px;
            }
            textarea{
                border-radius: 3px;
                font-size: 1.2em;
                width: 505px;
                height: 150px;
            }
        }
    }
    /* This is the code for the footer text and image logos */
    .footer{
        img{
            height: 40px;
            width: 40px;
        }
        h3{
            font-size: 1.4em;
        
            /* This is the code for the links in the footer */
            a{
                color: white;
        
                &:hover{
                    color: #05aefc;
                    text-decoration: underline;
                }
            }
        }
    }
}