// This is the responsiveness stylesheet

// *************************************************************************
// This media query is for devices with the width between 1-500px (mobile)
@media (min-width: 1px)
and (max-width: 599px){
    /* This is the code for the navigation bar */
    #navbar{
        padding: 20px;
        font-size: 0.6em;
        word-spacing: 30px;
    }

    .grid-container > div{
        padding: 10px;
    }

    // This is the wrapper that positions everything
    .margin-wrapper{
        margin-right: 10px;
        margin-left: 10px;
    }

    /* This is the code for the home screen text and picture */
    .home-screen{
        height: 700px;

        h1{
            margin-top: 120px;
            font-size: 2em;
            letter-spacing: 3px;
            color: #939393;
        }
        h4{
            margin-top: 10px;
            font-size: 1.4em;
            letter-spacing: 3px;
            color: #939393;
        }
    }

    /* This is the code for the about section of the page */
    .about{
        margin-top: 250px;
        height: 450px;
        padding: 5px;

        /* This is the code for the text inside the about section */
        .box-about{
            height: 99%;

            /* Box about heading and paragraph font sizes */
            h2{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 1.3em;
            }

            p{
                font-size: 1.1em;
            }
        }
    }
    /* This is the code for the Programming Languages Bar */
    .prog-lang{
        padding: 0;
        opacity: 0;
        margin-top: 250px;
        height: 500px;

        .margin-wrapper{
            margin-right: 10px;
            margin-left: 10px;
            display: grid;
            grid-template-areas: 'prog-head'
            'prog-content';
            grid-template-columns: 1fr;

            .prog-head{
                height: 50px;
                position: relative;

                h2{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2em;
                }
            }
            .prog-content{
                grid-area: prog-content;
                border: $borderSettings;
                height: 450px;
                margin-left: 10px;
                margin-right: 10px;
                padding: 5px;
                
            }
        }
    }

    /* This code is for the studies and hobbies section of the page */
    .studies{
        opacity: 0;
        margin-top: 250px;
        height: 620px;

        .studies-section{
            display: grid;
            grid-template-areas: 'stud-first'
            'stud-second'
            ;
            grid-template-columns: 1fr;

            h3{
                font-size: 1em;
            }
            p{
                font-size: 0.9em;
                word-spacing: 2px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }

    // This is the work experience section
    .experience-section{
        height: 640px;
    
        h2, h3{
            text-align: center;
            font-size: 1.2em;
        }
        h4{
            margin-top: 40px;
            font-size: 1em;
        }
        p{
            font-size: 0.9em;
            margin-left: 30px;
        }
    }

    // This is the hobbies and interest section
    .hobbies-section{
        padding: 0;
        height: 470px;
    
        h2{
            font-weight: bolder;
            font-size: 1em;
        }
        ul{
            margin-top: 20px;
            li{
                font-size: 1em;
                margin-top: 10px;
            }
        }
    }
    /* This code is for the contact section of the page */
    .contact{
        padding: 5px;
        margin-top: 200px;
        height: 150px;

        h2{
            color: rgb(110, 110, 110);
            font-size: 1em;
        }

        a{
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            transition: all 0.3s;

            button{
                padding: 5px 10px;
                font-size: 1em;

                &:hover{
                    padding: 5px 15px;
                }
            }
        }

        // This is my form
        #myForm{
            display: none;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%,-50%);

            input{
                font-size: 0.9em;
                border: none;
                border-radius: 3px;
                padding: 2px;
                width: 300px;
            }
            textarea{
                border-radius: 3px;
                font-size: 1em;
                width: 300px;
            }
        }
    }
    /* This is the code for the footer text and image logos */
    .footer{
        img{
            height: 30px;
            width: 30px;
        }
        h3{
            font-size: 1em;
        
            /* This is the code for the links in the footer */
            a{
                color: white;
        
                &:hover{
                    color: #05aefc;
                    text-decoration: underline;
                }
            }
        }
    }

    // This is the contact logo
    #contact-me-logo{
        position: fixed;
        top: 100px;
        right: -100px;

        img{
            height: 50%;
            width: 50%;
        }
    }

    // This is the contact me main section
    #contact-me-main{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 20px;
        width: 70%;

        h3{
            font-size: 0.9em;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

// *************************************************************************
// This media query is for devices with the width between 321-400px (mobile)
@media (min-width: 321px) 
and (max-width: 400px){
    .about{
        height: 370px;
    }
    .experience-section{
        height: 580px;
    }
    .hobbies-section{
        padding: 0;
        height: 450px;
    }
}

// *************************************************************************
// This media query is for devices with the width between 401-500px (mobile)
@media (min-width: 401px) 
and (max-width: 500px){
    .about{
        height: 360px;
    }
    .experience-section{
        height: 550px;
    }
    .hobbies-section{
        padding: 0;
        height: 450px;
    }
}

// *************************************************************************
// This media query is for devices with the width between 401-500px (mobile) or (large-mobile)
@media (min-width: 501px)
and (max-width: 599px){
    .about{
        height: 300px;
    }
    .experience-section{
        height: 520px;
    }
    .hobbies-section{
        padding: 0;
        height: 450px;
    }
    .studies{
        height: 550px;
    }
    /* This code is for the contact section of the page */
    .contact{
        h2{
            font-size: 1.5em;
        }
        // This is my form
        #myForm{
            display: none;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%,-50%);

            input{
                font-size: 1em;
                border-radius: 3px;
                padding: 5px;
                width: 400px;
            }
            textarea{
                border-radius: 3px;
                font-size: 1em;
                width: 405px;
                height: 150px;
            }
        }
    }

    .footer{
        h3{
            font-size: 1.5em;
        }
    }
}

// *************************************************************************
// This media query is for devices with the width between 600-800px (tablet)
@media (min-width: 600px)
and (max-width: 800px){
    /* This is the code for the navigation bar */
    #navbar{
        font-size: 1em;
        word-spacing: 30px;
    }

    .grid-container > div{
        padding: 10px;
    }

    // This is the wrapper that positions everything
    .margin-wrapper{
        margin-right: 50px;
        margin-left: 50px;
    }

    /* This is the code for the home screen text and picture */
    .home-screen{
        height: 700px;

        h1{
            margin-top: 120px;
            font-size: 2.5em;
            letter-spacing: 3px;
            color: #939393;
        }
        h4{
            margin-top: 10px;
            font-size: 1.7em;
            letter-spacing: 3px;
            color: #939393;
        }
    }

    // This is the contact logo
    #contact-me-logo{
        position: fixed;
        top: 100px;
        right: -100px;

        img{
            height: 70%;
            width: 70%;
        }
    }

    /* This is the code for the about section of the page */
    .about{
        margin-top: 250px;
        height: 360px;
        padding: 5px;

        /* This is the code for the text inside the about section */
        .box-about{
            height: 99%;

            /* Box about heading and paragraph font sizes */
            h2{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 1.6em;
            }

            p{
                font-size: 1.4em;
            }
        }
    }
    /* This is the code for the Programming Languages Bar */
    .prog-lang{
        padding: 0;
        opacity: 0;
        margin-top: 250px;
        height: 500px;

        .margin-wrapper{
            margin-right: 150px;
            margin-left: 150px;
            display: grid;
            grid-template-areas: 'prog-head'
            'prog-content';
            grid-template-columns: 1fr;

            .prog-head{
                height: 50px;
                position: relative;

                h2{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2em;
                }
            }
            .prog-content{
                grid-area: prog-content;
                border: $borderSettings;
                height: 450px;
                margin-left: 10px;
                margin-right: 10px;
                padding: 5px;
                
            }
        }
    }

    /* This code is for the studies and hobbies section of the page */
    .studies{
        opacity: 0;
        margin-top: 250px;
        height: 620px;

        .studies-section{
            display: grid;
            grid-template-areas: 'stud-first'
            'stud-second'
            ;
            grid-template-columns: 1fr;

            h3{
                font-size: 1.3em;
            }
            p{
                font-size: 1.1em;
                word-spacing: 2px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }

    // This is the work experience section
    .experience-section{
        height: 600px;
    
        h2, h3{
            text-align: center;
            font-size: 1.6em;
        }
        h4{
            margin-top: 40px;
            font-size: 1.3em;
        }
        p{
            font-size: 1.1em;
            margin-left: 30px;
        }
    }

    // This is the hobbies and interest section
    .hobbies-section{
        padding: 0px;
        height: 500px;
    
        h2{
            font-weight: bolder;
            font-size: 1.5em;
        }
        ul{
            margin-top: 20px;
            li{
                font-size: 1.1em;
                margin-top: 10px;
            }
        }
    }
    /* This code is for the contact section of the page */
    .contact{
        padding: 5px;
        margin-top: 200px;
        height: 150px;

        h2{
            color: rgb(110, 110, 110);
            font-size: 1.5em;
        }

        a{
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            transition: all 0.3s;

            button{
                padding: 5px 10px;
                font-size: 1em;

                &:hover{
                    padding: 5px 15px;
                }
            }
        }

        // This is my form
        #myForm{
            display: none;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%,-50%);

            input{
                font-size: 1em;
                border: none;
                border-radius: 3px;
                padding: 5px;
                width: 400px;
            }
            textarea{
                border-radius: 3px;
                font-size: 1em;
                width: 405px;
                height: 150px;
            }
        }
    }
    /* This is the code for the footer text and image logos */
    .footer{
        img{
            height: 40px;
            width: 40px;
        }
        h3{
            font-size: 1.4em;
        
            /* This is the code for the links in the footer */
            a{
                color: white;
        
                &:hover{
                    color: #05aefc;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 801px)
and (max-width: 1030px){
    /* This is the code for the navigation bar */
    #navbar{
        font-size: 1.3em;
        word-spacing: 30px;
    }

    .grid-container > div{
        padding: 10px;
    }

    // This is the wrapper that positions everything
    .margin-wrapper{
        margin-right: 150px;
        margin-left: 150px;
    }

    /* This is the code for the home screen text and picture */
    .home-screen{
        height: 700px;

        h1{
            margin-top: 120px;
            font-size: 2.9em;
            letter-spacing: 3px;
            color: #939393;
        }
        h4{
            margin-top: 10px;
            font-size: 2em;
            letter-spacing: 3px;
            color: #939393;
        }
    }

    /* This is the code for the about section of the page */
    .about{
        margin-top: 250px;
        height: 360px;
        padding: 5px;

        /* This is the code for the text inside the about section */
        .box-about{
            height: 99%;

            /* Box about heading and paragraph font sizes */
            h2{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 1.8em;
            }

            p{
                font-size: 1.4em;
            }
        }
    }
    /* This is the code for the Programming Languages Bar */
    .prog-lang{
        padding: 0;
        opacity: 0;
        margin-top: 250px;
        height: 500px;

        .margin-wrapper{
            margin-right: 150px;
            margin-left: 150px;
            display: grid;
            grid-template-areas: 'prog-head prog-content';
            grid-template-columns: 30% 1fr;

            .prog-head{
                height: 50px;
                position: relative;

                h2{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2em;
                }
            }
            .prog-content{
                grid-area: prog-content;
                border: $borderSettings;
                height: 450px;
                margin-left: 10px;
                margin-right: 10px;
                padding: 5px;
                
            }
        }
    }

    /* This code is for the studies and hobbies section of the page */
    .studies{
        opacity: 0;
        margin-top: 250px;
        height: 620px;

        .studies-section{
            display: grid;
            grid-template-areas: 'stud-first'
            'stud-second'
            ;
            grid-template-columns: 1fr;

            h3{
                font-size: 1.3em;
            }
            p{
                font-size: 1.1em;
                word-spacing: 2px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }

    // This is the work experience section
    .experience-section{
        height: 600px;
    
        h2, h3{
            text-align: center;
            font-size: 1.6em;
        }
        h4{
            margin-top: 40px;
            font-size: 1.3em;
        }
        p{
            font-size: 1.1em;
            margin-left: 30px;
        }
    }

    // This is the hobbies and interest section
    .hobbies-section{
        padding: 0px;
        height: 570px;
    
        h2{
            font-weight: bolder;
            font-size: 1.6em;
        }
        ul{
            margin-top: 20px;
            li{
                font-size: 1.4em;
                margin-top: 10px;
            }
        }
    }
    /* This code is for the contact section of the page */
    .contact{
        padding: 5px;
        margin-top: 200px;
        height: 150px;

        h2{
            color: rgb(110, 110, 110);
            font-size: 1.5em;
        }

        a{
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            transition: all 0.3s;

            button{
                padding: 10px 15px;
                font-size: 1em;

                &:hover{
                    padding: 10px 25px;
                }
            }
        }

        // This is my form
        #myForm{
            display: none;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%,-50%);

            input{
                font-size: 1em;
                border: none;
                border-radius: 3px;
                padding: 8px;
                width: 500px;
            }
            textarea{
                border-radius: 3px;
                font-size: 1.2em;
                width: 505px;
                height: 150px;
            }
        }
    }
    /* This is the code for the footer text and image logos */
    .footer{
        img{
            height: 40px;
            width: 40px;
        }
        h3{
            font-size: 1.4em;
        
            /* This is the code for the links in the footer */
            a{
                color: white;
        
                &:hover{
                    color: #05aefc;
                    text-decoration: underline;
                }
            }
        }
    }
}